extends layout

block content
    // Post
    if posts.length == 0
        h3 There is no any post here :(
    else
        each post in posts
            article.post
                header
                    .title
                        h2
                            a(href='/post/' + encodeObjectID(post._id) + '/' + slugify(post.title))= post.title
                        p
                    .meta
                        time.published= moment(post.createdAt).format('LLL')
                        a.author(href='/author/' + encodeObjectID(post.author._id))
                            span.name= post.author.fullName
                            img(src=post.author.avatar, alt='')
                a.image.featured(href='/post/' + encodeObjectID(post._id) + '/' + slugify(post.title))
                    img(src="/images/covers/" + post.coverPhoto, alt='')
                p= truncateContent(post.content)
                footer
                    ul.actions
                        li
                            a.button.big(href='/post/' + encodeObjectID(post._id) + '/' + slugify(post.title)) Continue Reading
                    ul.stats
                        li
                            a(href='/category/' + post.category)= post.category
                        li
                            a.icon.fa-heart(href='/like/' + encodeObjectID(post._id))= post.likes
                        li
                            a.icon.fa-comment(href='/post/' + encodeObjectID(post._id) + '#comments')= post.comments
        // Pagination
        include parts/pagination
